:host {
  display: block;
  align-self: center;
  overflow: hidden;
  min-width: 100px;
  width: 50%;
}

#bar {
  width: 100%;
  height: 20px;
  background-color: var(--theme-color-2);
}

#value {
  background-color: var(--theme-color-1);
  height: 100%;
}

.success #value {
  background-color: var(--theme-coloe-success);
}
