:root {
  --theme-color-1: #ff0036;
  --theme-color-2: #474747;
  --theme-color-3: #FFF;
  --theme-color-4: rgba(255, 255, 255, 0.15);

  --theme-color-error: #ff5722;
  --theme-coloe-success: #138808;

  --input-color: var(--theme-color-3);
  --input-bg-color: rgba(0, 0, 0, .4);
  --input-border-color: rgba(255, 255, 255, .25);
  --input-border-color-highlight: rgba(255, 255, 255, .5);

  --header-spacing: 20px;

  --element-spacing: 10px;
  --elememt-min-height: 25px;
  --element-font-size: 12px;
  --element-font-family: sans-serif;

  --button-color: var(--theme-color-2);
  --button-hover-color: var(--theme-color-1);

  --checker-color-a: rgba(255, 255, 255, 0.1);
  --checker-color-b: transparent;

  --tabs-height: 50px;
  --tabs-bg-color: #12161b;
  --tabs-border-color: var(--theme-color-4);
  --tabs-tab-color: var(--theme-color-3);
  --tabs-tab-hover: var(--theme-color-1);

  --select-color: rgb(150, 150, 150);
  --select-color-selected: rgb(100, 100, 100);
}

/**********************/
/* RESET */
/**********************/

* {
  outline: none;
  user-select: none;
  box-sizing: border-box;
}

/**********************/
/* SCROLLBAR */
/**********************/

*::-webkit-scrollbar-button {
  display: none;
  height: 13px;
  border-radius: 0;
  background-color: #AAA;
}

*::-webkit-scrollbar-button:hover {
  background-color: #AAA;
}

*::-webkit-scrollbar-thumb {
  background-color: #666;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

*::-webkit-scrollbar-track {

}

*::-webkit-scrollbar-track:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

*::-webkit-scrollbar {
  width: 8px;
  cursor: pointer;
}

/**********************/
/* BODY */
/**********************/

body {
  background-color: black;
  color: #fff;
  font-family: var(--element-font-family);
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

/**********************/
/* ELEMENTS */
/**********************/

h1, h2, h3 {
  margin: 30px 5px 0 5px;
}

h1:first-child, h2:first-child, h3:first-child {
  margin: 5px 5px 0 5px;
}

h4 {
  font-size: 12px;
}

h5 {
  font-size: 10px;
}

h4, h5 {
  opacity: 0.65;
}

/* Specific */
/*h1:first-child,
h2:first-child,
h3:first-child {
  margin: 0 0 var(--element-spacing) 0;
}*/

h4, h5 {
  font-weight: normal;
}

input, select, label {
  min-height: var(--elememt-min-height);
  display: flex;
}

input[type=text],
input[type=number],
textarea,
select {
  background-color: var(--input-bg-color);
  border: 0.5px solid var(--input-border-color);
  color: var(--input-color);
  font-size: var(--element-font-size);
  padding: 0 5px;
  width: 100%;
  flex: 0 0 auto;
  font-family: inherit;
}

textarea {
  resize: vertical;
  padding: 5px;
}

input[type=color] {
  border: 0.5px solid var(--input-border-color);
  width: 100%;
  background: transparent;
  padding: 0.5px;
  cursor: pointer;
}

input[type=color]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type=color]::-webkit-color-swatch {
  border: none;
}

input[type=range] {
  -webkit-appearance: none;
  background-color: transparent;
  min-height: var(--elememt-min-height);
  border: 0.5px solid var(--input-border-color);
  width: 100%;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {

}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: var(--elememt-min-height);
  width: var(--elememt-min-height);
  background: var(--input-border-color-highlight);
  cursor: pointer;
  border-radius: 0;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--input-bg-color);
}

input[type=number] {
  padding: 0 0 0 5px;
}

input[type=number]::-webkit-inner-spin-button {
  height: var(--elememt-min-height);
}

select {
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23FFFFFF%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
  background-color: var(input);
}

select option {
  /*background-color: var(--theme-color-4);*/
  background-color: #000;
}

label {
  font-size: var(--element-font-size);
  align-items: center;
  min-width: 115px;
  margin-right: 5px;
}

table {
  table-layout: fixed;
  width: 100%;
}

table th {
  background-color: rgba(255, 255, 255, 0.1);
  font-size: 14px;
  text-align: left;
  padding: 5px;
}

table th > input {
  font-weight: bold;
}

table td {
  font-size: 12px;
  background-color: var(--input-bg-color);
  vertical-align: top;
}

table td > vff-checkbox,
table td > vff-radio-button {
  margin: 0 5px;
}

vff-text {
  width: 100%;
}

table .element-image .ctrl-container-row {
  display: none;
}

table .element-image .element-image-preview {
  margin: 0;
  min-height: initial;
  height: 100px;
}

table .element-image:hover .element-image-preview {
  opacity: 0.5;
}

table .element-image:hover .element-image-hover {
  display: flex;
}

button {
  height: 100%;
  background: var(--button-color);
  border: 0;
  outline: 0;
  color: #fff;
  display: flex;
  min-height: 25px;
  border-radius: 2px;
  font-size: var(--element-font-size);
  padding: 0 10px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}

button:hover {
  background-color: var(--button-hover-color);
}

button > h1,
button > h2,
button > h3,
button > h4,
button > h5 {
  margin: 0 !important;
}

vff-image-browser {
  width: 100%;
  min-height: 100px;
}

/**********************/
/* LAYOUT */
/**********************/

.ctrl-container {
  overflow: auto;
  height: 100%;
}

.ctrl-container {
  display: none !important;
}

.ctrl-container.active {
  display: block !important;
}

.ctrl-container-row {
  display: flex;
  padding: var(--element-spacing) 5px;
  /*border-bottom: 1px solid rgba(255,255,255,0.05);*/
}

.ctrl-container-row.indent {
  padding: var(--element-spacing) 5px var(--element-spacing) 15px;
}

.ctrl-container-row > input,
.ctrl-container-row > select {
  margin: 0 var(--element-spacing) 0 0;
  flex: 1;
}

.ctrl-container-row > vff-checkbox,
.ctrl-container-row > vff-radio-button {
  margin: 0 var(--element-spacing) 0 0;
  flex: 0 1 auto;
}

.ctrl-container-row > input:last-child,
.ctrl-container-row > select:last-child,
.ctrl-container-row > label:last-child {
  margin: 0;
}

.ctrl-container-block {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  width: 100%;
  overflow: hidden;
  padding: 0 5px 5px 5px;
  background: rgba(255, 255, 255, 0.05);
}

.ctrl-container-block:not(:last-child) {
  margin-right: 5px;
}

.ctrl-container-block label {
  margin: 0;
}
