.table__row {
  display: flex;
}

.table__column {
  width: 150px;
}

.row__controls-container{
  display: flex;
}

.row__remove,
.row__handle {
  height: 25px;
  width: 25px;
  background: var(--button-color);
  border: 0;
  outline: 0;
  color: #fff;
  display: flex;
  border-radius: 2px;
  font-size: var(--element-font-size);
  padding: 0 10px;
  justify-content: center;
  align-items: center;
}

.row__handle{
  cursor: move;
}

.row__remove{
  cursor: pointer;
}

.row__handle:hover {
  background-color: var(--button-hover-color);
}

.sortable-placeholder {
  width: 100%;
  outline: 1px dashed var(--theme-color-1);
}

#table__add-row-btn {
  height: initial;
}

.table__row-controls {
  /*to ensure proper drag functionality the cell should have it's height not collapsed*/
  display: table-cell !important;
}

.table__cell {
  position: relative;
}
